/lightframework.caching/nbproject/private/
/lightframework.console.test/build/
/lightframework.console.test/dist/
/lightframework.console.test/nbproject/private/
/lightframework.core/nbproject/private/
/lightframework.data.mysql.test/nbproject/private/
/lightframework.data.mysql/build/
/lightframework.data.mysql/dist/
/lightframework.data.mysql/nbproject/private/
/lightframework.data.oracle/nbproject/private/
/lightframework.data.sqlserver/nbproject/private/
/lightframework.data.test/nbproject/private/
/lightframework.data/build/
/lightframework.data/dist/
/lightframework.data/nbproject/private/
/lightframework.tracing/nbproject/private/
/lightframework.data.test/build/
/lightframework.data.mysql.test/build/
/lightframework.data.mysql.test/dist/
/lightframework.caching/build/
/lightframework.caching/dist/
/lightframework.core/build/
/lightframework.core/dist/
/lightframework.data.oracle/dist/
/lightframework.data.oracle/build/
/lightframework.data.sqlserver/dist/
/lightframework.data.sqlserver/build/
/lightframework.data.test/dist/
/lightframework.tracing/dist/
/lightframework.tracing/build/